# OESON - Internship
## Student: Julian Andres Salazar
## Session: Data Structure in Python - Practice
## Date: June 5, 2024

### Question 1 - Appending and Removing Elements
Create an empty list called my_list. Append the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [1]:
#Option 1: Using append

my_list=[]

my_list.append(1)
my_list.append(2)
my_list.append(3)

my_list.remove(2)

print(my_list)

[1, 3]

In [2]:
#Option 2: Using extend

my_list=[]
my_list.extend([1,2,3])
my_list.remove(2)

print(my_list)

[1, 3]

In [3]:
#Option 3: Using list comprehension
#If we have a very large list, then it might be 
# more efficient to use a loop
#range(start, stop) generates numbers from start up to but not including stop.
my_list = [i for i in range(1, 4)]
my_list.remove(2)
print(my_list)

[1, 3]

In [4]:
#Option 4: Using the + operator

my_list = []
my_list += [1, 2, 3]
my_list.remove(2)

print(my_list)

[1, 3]

### Question 2 - Accessing Elements:

Create a list called fruits containing the strings "apple","banana", "cherry", "date". Print the second element of the list

In [5]:
fruits=["Apple", #Position 0
           "Banana", #Position 1
           "Cherry", #Position 2
           "Date"]   #Position 3

print(fruits[1])

Banana

### Question 3 - Slicing: 

Create a list called numbers containing the numbers from 1 to 10. Print a
slice of the list containing elements from the third element to the sixth element.

In [6]:
numbers = [i for i in range(1, 11)]

print(numbers)
print(numbers[2:6]) # This is like saying: 2nd element <numbers <= 6th element

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6]

## Sets
### Question 4 - Adding and Removing Elements: 

Create an empty set called my_set. Add the numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [7]:
#my_set={} #output:  'dict' object has no attribute 'add'
#Option 1:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.remove(2)

print(my_set)

{1, 3}

In [8]:
#Option 2: Use .update()

my_set = set()
my_set.update([1, 2, 3])
my_set.remove(2)
print(my_set)

{1, 3}

In [9]:
#Option 3: Using a loop

my_set = set()
for i in range(1, 4): #This is like 1<=i<4
    my_set.add(i)
my_set.remove(2)
print(my_set)

{1, 3}

In [37]:
#Option 3.1: 

# Initialize an empty set
my_set = set()

for i in range(1, 4): #This is like 1<=i<4
    if i not in range(2, 3):  #This is like 2<=i<3
        my_set.add(i)

print(my_set)

{1, 3}

In [10]:
#Option 4: Using a more direct loop

my_set = {i for i in range(1, 4)}
my_set.remove(2)
print(my_set)

{1, 3}

In [11]:
#Option 5: Converting a list into a set using "*"

my_set={}
my_list=[1,2,3] #Similar to creating a set from a list my_set = set([1, 2, 3])

my_set={*my_list}

my_set.remove(2)

print(my_set)

{1, 3}

### Question 5 - Operations:

Create two sets called set1 and set2, each containing a few numbers. Print the union, intersection, and difference of the two sets

In [12]:
set1={i for i in range(1,21)} #This is 1<=i<21
set2 = set()
for i in range(8, 25): #This is like 8<=i<24
    set2.add(i)

print("This is set1:", set1)

print("\nThis is set2:", set2)

#Union

print("\nA: This is the Union:", set1 | set2)

#Interception

print("\nB: This is the Interception:", set1 & set2)

#Difference:

print("\nC: This is the difference:", set1 - set2)

This is set1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

This is set2: {8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

A: This is the Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

B: This is the Interception: {8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

C: This is the difference: {1, 2, 3, 4, 5, 6, 7}

## Tuples:

### Question 6 - Accessing Elements: 

Create a tuple called coordinates containing the latitude 
and longitude of allocation (e.g., (40.7128, -74.0060) for New York City). Print the latitud 
and longitude separately

In [13]:
coordinates=(4.624335, -74.063644) #For Bogotá D.C., Capital of Colombia

print("\nLatitude for Bogotá D.C.,","\nCapital of Colombia:", coordinates[0])

print("\nLongitude for Bogotá D.C.,","\nCapital of Colombia:", coordinates[1])

Latitude for Bogotá D.C.,
Capital of Colombia: 4.624335

Longitude for Bogotá D.C.,
Capital of Colombia: -74.063644

### Question 7 - Packing and Unpacking:  

Create a tuple called person containing information about a person, such as their name, age, and city. Then unpack the tuple into individual variables

In [14]:
person=("Joe Biden", 81, "District of Columbia", "USA")

name=person[0]

age=person[1]

city=person[2]

country=person[3]

print("Tuple Information:",
    "\nName:", name, 
     "\nAge:", age,
     "\nCity:", city,
     "\nCountry:", country)

Tuple Information:
Name: Joe Biden
Age: 81
City: District of Columbia
Country: USA

In [15]:
# Other option:

person=("Joe Biden", 81, "District of Columbia", "USA")

name=person[0]

age=person[1]

city=person[2]

country=person[3]

variable_names=["Name","Age","City","Country"]
variable_values = [name, age, city, country]


print("Tuple Information:")
for variable_singular_name, variable_singular_value in zip(variable_names, variable_values):
    print(f"\n{variable_singular_name}: {variable_singular_value}")

Tuple Information:

Name: Joe Biden

Age: 81

City: District of Columbia

Country: USA